.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.next-btn{
    text-align: center;
}

.philosophers{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;  
    height: 300px; 
}

.process{
    padding: 10px 50px;
    background-color: #FAFAFA;
    border-radius: 3px;
    text-align: center;
    border-bottom: 0.01rem solid grey; 
}

.status{
    display: flex;
    flex-direction: column;
}

.unlocked{
    background-color: rgb(45, 198, 45) !important;
    color: white;
}

.locked{
    background-color: #e83a3a !important;
    color: white;
}

.lock{
    padding: 5px 50px;
    background-color: #EEEEEE;
    border-radius: 3px;
    text-align: center;
    margin: 2px;    
}

.status{
    background-color: #FAFAFA;
    margin: 1rem;
    width: 250px;
}

.message{
    background-color: #FAFAFA;
    text-align: center;
    padding: 1.5rem;
    /* width: 10%; */
}

.graphics{
    text-align: center;
}

.title{
    text-align: center;
    background-color: #E0E0E0;
    padding: 0.5rem;
    margin-bottom: 0;
}



.row{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
}

.codes{
    display: flex;
    flex-direction: row;
}


.codes{
    display: flex;
    flex-direction: row;   
    margin: 2rem; 
    justify-content: center;
}

.code{
    text-align: left;
    background-color: #FAFAFA;
    border-radius: 3px;
    border-top: none;
    margin: 1rem;
}

.code-line{
    padding: 0.2rem 1rem;
    font-family: monospace;
}


.indent{
    margin-left: 1rem;
}