/*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 31, 31);
}*/

/*.title{
    background-color: #ea0e0e;
    /* display: flex; 
    justify-content: space-between;
    text-align: center;
    /* width: 100%; 
    padding: 15px;
    height: fit-content;
}*/
.types{
    display: flex;
    justify-content: center;
}

.paging-types{
    padding: 5px;
    justify-content: center;
}

/*.paging-types a button
{
    text-align: center;
    padding: 5px;
    background-color: white;
    margin: 5px;
    border: 2px solid black;

}*/

.content{
    justify-content: center;
    position: absolute;
    margin: 20px;
}

.dataform{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.input-container{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input-container label{
    margin-right: 5px;
    display: inline-block;
    text-align: right;
}

.simulation{
    display: flex;
    visibility: hidden;
}

.entry-section{
    width: 33.33%;
    margin: 10px; 
    display: inline-block;
    border: 5px solid black;
    border-radius: 6px;
}

.entry-section div{
    padding: 5px;
}

.page-table{
    width: 33.33%;
    margin: 10px;
    border: 5px solid black;
    border-radius: 6px;
    padding: 5px;

}

.generate{
    width: 33.33%;
    margin: 10px;
    justify-content: right;
    visibility: hidden;
    border: 5px solid black;
    border-radius: 6px;
    padding: 5px;
}

.generate form{
    display: inline-block;
    text-align: right;
    
}

.multiple-tables{
    width: 33.33%;
    display: inline-block;
    text-align: right;
    margin: 10px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 6px;

}


.pgtable{
    margin: 10px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 6px;
}

#nextbtn{
    margin: 5px;
}